@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Barlow Semi Condensed", sans-serif;
}

body, html {
    overflow-x: hidden;
}

/* SINGLE PAGE */

.title {
    margin-right: 25px;
}

.metros {
    background-color: #8bc751;
    padding: 2px 8px;
    border-radius: 4px;
    font-weight: 500;
}

.planta1,
.planta2 {
    margin: 20px 0;
}

.bg-cinza {
    background-color: #f3f2ed;
    border-radius: 15px;
    padding: 40px;
}

.side-right1 {
    margin-top: 35px;
}

.plantas {
    margin-top: 20px;
}

.plantas img {
    margin-right: 15px;
}

.borda-bottom {
    border-top: 1px solid black;
}

.carousel-indicators [data-bs-target] {
    border-bottom: 10px solid black;
}

.carousel-indicators {
    bottom: -40px !important;
}

/* ACABAMENTOS E DETALHES */


.light-green {
    color: #8BC751;
}

.selected-list {
    list-style: none;
    border-left: 6px solid #8BC751 !important;
    padding-left: 17px;
}

.lateral {
    margin-bottom: 35px;
}

.lateral ul li {
    list-style: none;
    padding-left: 20px;
    border-left: 1px solid transparent;
    margin: 12px 0 !important;
    transition: 400ms all;
}

.lateral ul li:hover {
    list-style: none;
    padding-left: 20px;
    border-left: 6px solid #8BC751;
    margin: 12px 0 !important;
}

.lateral ul li a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
}

.shadow-right {
    box-shadow: 10px 2px 20px -9px;
}